# dependencies
/node_modules
**/node_modules
# testing
/coverage

# production
/build
**/build

# misc
.DS_Store
*.swp
*.dia~

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local

# tmp
.ice

# cache
.eslintcache
.stylelintcache
web-react-lite-demos/scripts/ui-html/source/
web-react-lite-demos/scripts/ui-html/target-dark/
web-react-lite-demos/scripts/ui-html/target-light/
